<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style01.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Epoxy Calculator </title>
</head>

<body>
    <header>
        <h1>Epoxy Calculator</h1>
    </header>

    <main>


        {%if epoxy %}
        <div class="results">
            <h2>Total Volume : </h2> <span class="value"> {{volume}} Ml </span>
        </div>
        <div class="results">
            <h2>Epoxy : </h2> <span class="value">{{epoxy}} Ml </span>
        </div>
        <div class="results">
            <h2>Hardner :</h2> <span class="value">{{hardner}} Ml </span>
        </div>
        <br>
        <h4>Ratio: 100-40</h4>
        <a href="/" class="btn"> Start Again </a>
        {%else%}
        <form method="POST" action="/">
            <h3>Required Volume:</h3>
            <input type="number" name="volume" required>
            <input class="btn" type="submit" value="Calculate!">
        </form>
        {%endif%}
    </main>
</body>

</html>